*{

    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height 100vh;
    background-color: #ccc; 
}

main{
    height: 100%; 
    display: flex;
    align-items: center; 
    justify-content: center;
}

form{
    ;
}

fieldset{
    border: 1px solid #777;
    background-color: #fff;
    border-radius: 10px;
}